<h1>
  {{title}}
</h1>

<hr>
<h5>Simple hello react component</h5>
<div id='reactHost'></div>

<hr>
<h5>AirBnB react-dates component: angular-react-dates</h5>
<angular-date-range-picker [(ngModel)]="selectedDateRange"></angular-date-range-picker>
<pre>{{selectedDateRange | json}}</pre>

<hr>
<h5>Angular inputs</h5>
<div class="msgHost">
  <label>Agent:</label>
  <input #agent (keyup.enter)="postMsg(2, agent)" (blur)="postMsg(2, agent)"/>
</div>
<div class="msgHost">
  <label>Customer:</label>
  <input #customer (keyup.enter)="postMsg(1, customer)" (blur)="postMsg(1, customer)"/>
</div>

<hr>
<h5>GCU chat-bubbles react component</h5>
<div id='chatHost'></div>



